.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-7 {
  height: 1.75rem
}

.w-7 {
  width: 1.75rem
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.pb-3 {
  padding-bottom: 0.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.\[a-zA-Z0-9\:_-\] {
  a-z-a--z0-9: -
}
